/*
 Index
*/
body{
	font-size:13px;
	font-family:"Arial black";
}
h1{
	color:white;
	background-color:black;
	text-align:center;
	padding-top:1%;
	padding-bottom:1%;
}
h2{
	color:black;
	font-family:arial;
}
h3{
	text-align:center;
	color:black;
}

header img{
	margin-left:1%;
	width:35px;
	height:35px;
	float:right;
}

footer{
	color:white;
	font-family:arial;
	background-color:black;
	text-align:center;
	padding-top:2%;
	padding-bottom:2%;
	position:fixed;
	bottom:0%;
	width:99.1%;
	z-index:-1;
	float:bottom;
}
