@font-face {
	font-family: 'Goldman';
	src: url('../font/goldman/Goldman-Blod.tff');
		}
		
@font-face {
	font-family:' Goldman';
	src: url('../font/goldman/Goldman-Regular.tff');
		}
		
body{
	font-family: 'Goldman', cursive;
	background-image: url('../images/Le_petit_prince.png');
	background-position: top right;
	background-repeat: no-repeat;
	margin-right: 300px;
}

h1{
	font-weight: blod;
	text-transform: capitalize;
	text-decoration: underline;
	text-decoration-style: wavy;
	font-size: 3em;
	color: Crimson;
	font-family: 'Goldman', cursive;
	letter-spacing: 10px;;
}

p{
	background-color: Crimson;
	padding-top: 5px;
	padding-bottom: 5px;
	font-style: italic;
}

p span{
	color: #fff;
}

p:first-letter{
	font-size: 2em;
}

.lista1 > li , .lista2 > li , .lista3 > li{
   /* border-style: dotted;
	border-color: Crimson;
	border-width: 1px; */
	border: dotted Crimson 1px;
 }
 
 .lista1{
	list-style-type: circle;
	list-style-position: inside
 }
 
 .lista2{
	list-style-type: square;
	list-style-position: outside;
 }
 
 .lista3{
	 list-style-position:inside;
	 list-style-image: url('../images/sqpurple.png');
 }
 
 .lista4{
	 background-color: lightsalmon;
	 border: dashed 2px darkred;
	 list-style-type: none;
	 padding: 5px 20px
 }
 
.lista4 li {
	background-color: darkred;
	color: lightsalmon;
	margin-top: 5px;
}

.lista4 li:before{
	content: '#';
	width: 1em;
	margin-left: -1em;
	color: darkred;
	display:inline-block;
}

.lista5{
	 background-color: lightsalmon;
	 list-style-type: none;
	 color: darkred;
	 border-left-color: darkred;
	 border-left-width: 10px;
	 border-left-style: solid;
	 padding: 5px;
}

.lista6{
	 list-style-type: none;
	 color: darkred;
}

.lista6 li{
	border-style: dotted;
	border-color: darkred;
	border-width: 1px 1px 0px 1px;
}

.lista6 li:last-child{
	border-bottom-width:1px;
}