div{width:300px; 
	height:300px;
	margin:10px;
	display:inline-block;
	border: solid black 5px;
	background-size: 110px;
	background-repeat: no-repeat;
}
div:nth-child(1){
	background-image: url('../images/puntonegro.png');
	background-position: center;
	}
div:nth-child(2){
	background-image: url('../images/puntonegro.png'), url('../images/puntonegro.png');
	background-position: 25% 25%, 75% 75%;
}
div:nth-child(3){
	background-image: url('../images/puntonegro.png'), url('../images/puntonegro.png'), url('../images/puntonegro.png');
	background-position: 25% 25%, 50% 50%, 75% 75%;
}
div:nth-child(4){
	background-image: url('../images/puntonegro.png'), url('../images/puntonegro.png'), url('../images/puntonegro.png'), url('../images/puntonegro.png');
	background-position: left top, left bottom, right top, right bottom;
}

div:nth-child(5){
	background-image: url('../images/puntonegro.png'), url('../images/puntonegro.png'), url('../images/puntonegro.png'), url('../images/puntonegro.png'),url('../images/puntonegro.png');
	background-position: left top, left bottom, center, right top, right bottom;
}

div:nth-child(6){
	background-image: url('../images/puntonegro.png'), url('../images/puntonegro.png'), url('../images/puntonegro.png'), url('../images/puntonegro.png'),url('../images/puntonegro.png'),url('../images/puntonegro.png');
	background-position: top left, center left, bottom left, right top, right center, right bottom;
}